name: Build and publish to GitHub Pages

on:
  #push:
  #  branches: [ "main" ]
  workflow_dispatch:
  #  branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore src
    - name: Build
      run: dotnet build src --no-restore -c:Release -p:GHPages=true
    - name: Build
      run: dotnet publish src --no-restore -c:Release -p:GHPages=true -o publish

